<section id="Abm" class="background" style="background-color: #709085">
    <div class="content">
        <!-- Title -->
        <div class="title">
            <div class="catTitle" id="Portfolio"><span>About Me</span></div>
            <div class="subCatTitle"><span>Who am I ?</span></div>
        </div>
        <!-- content for this part -->
        <div class="inCategory">
            <app-eseo-info></app-eseo-info>
            <div class="contact">
                <h1>Contact</h1>
                <p href="tel:+33635412508">tel : +33 6 35 41 25 08</p>
                <p>mail : elouan.lerissel@reseau.eseo.fr</p>
            </div>
        </div>
    </div>
</section>
