section{
    background-color: #757f97;
}

.content{

    display: flex;
    flex-direction: row;
    
    .left{
        .title{
            max-width: 50vw;
    
            .catTitle{
                margin: 0;
                max-width: 50vw;
            }
        }

    }
    

    .module{
        width: 50%;
        margin: 0 10px 0 10px;
    }

}
