<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<div class="sp-box-wrapper">
    <a class="button up" (click)="previous()"></a>
    <div class="sp-box" *ngFor="let st of lst_st_active">
        <div class="sp-box-header">
            <span>{{st.date}}</span>
        </div>
        <div class="sp-box-content">
            <div class="sp-box-title">{{st.name}}</div>
            <div class="sp-box-subtitle">{{st.poste}}</div>
            <div class="sp-box-txt">{{st.field}}</div>
        </div>
    </div>
    <a class="button down" (click)="next()"></a>
</div>