<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<!-- Skills -->
<section id="Skills" class="background" style="background-color: #5a7b88">
    <div class="content">
        <!-- Title -->
        <div class="title">
            <div class="catTitle" id="Portfolio"><span>Skills</span></div>
            <div class="subCatTitle"><span>Develop throught my studies or personal projects</span></div>
        </div>
        <!-- Content -->
        <!-- content for this part -->
        <div class="inCategory">
            <div class="skills_content">
                <div class="info">
                    <div class="txt">
                        <app-display-lang [lang_hover]="lang_hover" [lst_lang]="lst_lang"></app-display-lang>
                    </div>
                    <div class="graph">
                        <div class="text">Hover on the graph to see more details</div>
                        <app-donut-graph [lst_lang]="lst_lang" (langUpdateEvent)="changeLangHover($event)"></app-donut-graph>
                    </div>
                </div>
                <div class="elec">
                    <app-tabs></app-tabs>
                </div>
            </div>
        </div>
    </div>
</section>