<div class="container">
    <div class="txts">
        <div class="title">My school !</div>
        <div class="eseo">
            <span class="red">e</span>
            <span class="blue">s</span>
            <span class="blue">e</span>
            <span class="blue">o</span>
        </div>
        <div class="acronyme">École Supérieur d'Électronique de l'Ouest</div>
        <div class="location"><span>located in :</span> Angers, FR </div>
    </div>
    <div class="iframes">
        <iframe src="https://www.youtube.com/embed/FFTWhQpUTmo" title="ESEO, l'Ecole d'Ingénieurs Généralistes des Objets et Systèmes Intelligents" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2695.8475334090544!2d-0.5532530843734297!3d47.49288347917722!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48087918e6093a5b%3A0x18c2994402ec2868!2sESEO%20Angers%20-%20Grande%20Ecole%20d&#39;Ing%C3%A9nieurs%20G%C3%A9n%C3%A9ralistes!5e0!3m2!1sen!2sfr!4v1673620349552!5m2!1sen!2sfr" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>    
    </div>
</div>
