section{
    background-color: #8f82a5;
}
.inCategory{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

app-github-embeded {
    transform: scale(1.2);
}